body {
  font-family: "Inter", sans-serif;
  background: rgb(60, 60, 60);
  margin: 0pt;
}

.home {
  padding: 4rem 2rem;
}

/* HERO */
.hero {
  text-align: center;

  h1 {
    margin: 0px;
    font-size: 2.5rem;
    color: var(--text-light);
    margin-bottom: 10px;
    color: #f5f5f5;
  }

  p {
    margin: 0px;
    color: #d4d4d4;
    font-size: 1.25rem;
  }
}

/* KÁRTYÁK */
.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.card {
  background: #a3a3a3;
  padding: 25px;
  border-radius: 15px;
  max-width: 300px;
  cursor: pointer;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  text-align: center;

  h2 {
    font-weight: 600;
    color: #262626;
  }
  p {
    color: #525252;
  }
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

/* Viewer */
.viewer {
  height: calc(100%-80px);
}

.hidden {
  display: none;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 80px;
  margin: 0px 16px;

  button {
    padding: 0.5rem 1rem;
    background: #a3a3a3;
    color: #f5f5f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.25rem;
  }

  span {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #f5f5f4;
  }

  div {
    width: 71px;
  }
}

/* Fade animáció alap */
.fade {
  opacity: 0;
  transition: opacity 0.35s ease;
}

.fade.show {
  opacity: 1;
}

/* Viewer/home alap animálható állapot */
#home,
#viewer {
  opacity: 1;
  transition: opacity 0.35s ease;
}

/* Pdf megjelenítése */
.pdf-embed {
  width: 100vw;
  height: calc(100vh - 50px); /* ha van felső menü */
  border: none;
  display: block;
}

/* MOBIL GOMB */

.mobile-fallback {
  margin: 4rem 2rem;
  display: none;
  text-align: center;
  font-family: sans-serif;
  color: #262626;
  background-color: #a3a3a3;
  border-radius: 8px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Reszponzív nézet: mobilon gomb, asztalin PDF */
@media (max-width: 768px) {
  .mobile-fallback {
    display: block;
  }
  .pdf-embed {
    display: none;
  }

  .topbar {
    justify-content: center;

    button {
      display: none;
    }

    div {
      width: 0px;
    }
  }
}
